body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #f1f1f1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #96a12c;
    padding: 30px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: rgb(0, 255, 191);
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgb(0, 255, 191);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    margin: 5px 0;
    background: #f1f1f1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.complete-btn {
    background: rgb(0, 255, 55);
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.complete-btn:hover {
    background: rgb(0, 255, 55);
}
.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: darkred;
}
